@{
    ViewData["Title"] = "Create Recipe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Reciprocity.Models.Recipe

<h2>Add a new recipe</h2>
<hr />
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Title)
    @Html.EditorFor(model => model.Title)

    @Html.LabelFor(model => model.CategoryId)
    @Html.DropDownList("CategoryId")

    <input type="submit" value="Add" class="btn btn-default" />
}
<p>@Html.ActionLink("Back to list", "Index")</p>