@{
    ViewData["Title"] = "Recipe Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Reciprocity.Models.Recipe

<h2>Recipe Details</h2>
<hr />

<p>@Html.DisplayNameFor(model => model.Title): @Html.DisplayFor(model => model.Title)</p>
<p>@Html.DisplayNameFor(model => model.CategoryId) : @Html.DisplayFor(model => model.CategoryId)</p>

<p>@Html.ActionLink("Edit", "Edit", new { id = Model.RecipeId }) | @Html.ActionLink("Back to List", "Index")</p>