@{
    ViewData["Title"] = "Recipes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<Reciprocity.Models.Recipe>

<h2>List of things:</h2>
<hr />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category.Title)
        </th>
        <th></th>
    </tr>

    @foreach (var recipe in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => recipe.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => recipe.Category.Title)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = recipe.RecipeId }) |
                @Html.ActionLink("Details", "Details", new { id = recipe.RecipeId }) |
                @Html.ActionLink("Delete", "Delete", new { id = recipe.RecipeId })
            </td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Create New", "Create")
</p>

